/* ========================================================================
 * COMPONENT TYPOGRAPHY
 * ======================================================================== */
.text-title{
  color: $color-text-title;
}
.text-subtitle{
  color: $color-text-subtitle;
}
.text-thin{
  font-weight: 300;
}