/* ========================================================================
 * FOOTER
 * ======================================================================== */
#footer{
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;
  color: #909090;
  i{
    font-size: 11px;
    vertical-align: middle;
  }
}