/* ========================================================================
 * PAGE CONTENT
 * ======================================================================== */
#page-content{
  padding: 15px 0;
  background-color: #FDFCFC;
  margin-left: $sidebar-left-width;
  z-index: 100;
  border-left: 1px solid $color-border;
}
@media (max-width: 640px) {
  #page-content{
    margin-left: 0;
    border-left: none;
  }
}