/* ========================================================================
 * RETINA SUPPORT
 * ======================================================================== */
#retina-support{
  .dl-horizontal{
    dt{
      width: 90px;
    }
    dd{
      margin-left: 90px;
      margin-bottom: 0;
    }
  }
  .list-number{
    padding: 0 15px;
  }
}