/* ========================================================================
 * VERSIONS
 * ======================================================================== */
#versions{
  .thumbnail{
    background-color: #EDEDEF;
    > img{
      margin-top: 25px;
    }
    .caption{
      padding-top: 0;
      min-height: 225px;
    }
  }
}