/* ========================================================================
 * WRAPPER
 * ======================================================================== */
#wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 1281px){
  #wrapper{
    width: 1280px;
    margin: 0 auto;
  }
}