/* ========================================================================
 * MISCELLANEOUS
 * ======================================================================== */
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.mt-20{
  margin-top: 20px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-10{
  margin-bottom: 10px;
}
.mr-5{
  margin-right: 5px !important;
}
.sample-color{
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}
.path{
  float: right;
  font-size: 15px;
}