
@model Common.Models.NhanVien
@using Common.Ultil

@{
    ViewBag.Title = "Cập nhật mật khẩu";

    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
    var employee = ViewBag.employee;
    var a = (((Common.Models.NhanVien)(ViewBag.employee)).PassWord);
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Tài Khoản</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <button class="btn btn-lg btn-success btn-xs btn-push" id="submit"><i class="glyphicon glyphicon-save"></i> Lưu</button>

            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'"); ">
                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
            </button>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">@ViewBag.Title</h3>
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->

                    <div class="panel-body no-padding">
                        @using (Html.BeginForm("UpdatePassword", "Home", FormMethod.Post, new { id = "sample-validation-1" }))
                        {
                            <div class="form-body">

                                <div class="form-group">
                                    <label>Mật khẩu cũ</label>
                                    <input type="password" id="matkhaucu" name="matkhaucu" class="form-control rounded" maxlength="50" required />
                                    <input type="hidden" id="checkpassword" name="checkpassword" class="form-control rounded" />
                                    <h3 style="margin-top:0%" hidden class="error  notifyinputPassword messageErrorinputPassword">Password cũ không đúng!</h3>
                                </div>

                                <div class="form-group">
                                    <label>Mật khẩu mới</label>
                                    <input type="password" id="matkhaumoi" name="matkhaumoi" class="form-control rounded" maxlength="50" required />
                                </div>

                                <div class="form-group">
                                    <label>Xác nhận mật khẩu mới</label>
                                    <input type="password" id="xacnhanmatkhau" name="xacnhanmatkhau" class="form-control rounded" maxlength="50" required />
                                </div>

                            </div><!-- /.form-body -->
                        }

                    </div><!-- /.panel-body -->

                    
                </div><!-- /.panel -->
                <!--/ End input fields - basic form-->
            </div><!-- /.col-md-6 -->
        </div>
    </div>
</section>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $('#submit').click(function () {
        $('#sample-validation-1').submit();
    });
    
</script>


<script>
    $("#matkhaucu").on('keyup input propertychange paste change', function () {
        $.getJSON('@Url.Action("CheckPassword", "Home")', { matkhaucu: $(this).val() }, function (data) {
            if (data.isDuplicate) {
                $(".messageErrorinputPassword").text("Password cũ không đúng!");
                $(".notifyinputPassword").slideDown(250).removeClass("hidden");
                var str1 = document.getElementById("matkhaucu").value;
                $('#checkpassword').val(str1);
                document.getElementById("submit").disabled = true;
            }
            else {
                $(".notifyinputPassword").addClass("hidden");
                document.getElementById("submit").disabled = false;
            }
        });
    });
</script>