// Color theme
$color-theme: #ff7700;

// Color typography
$color-text-title:#505050;
$color-text-subtitle: #959698;

// Color misc
$color-border: #DEDEDE;

// Color footer
$color-footer-menu: #313131;
$color-footer-link: #232323;

