@{
    ViewBag.Title = "Đặt Hàng Thành Công";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div id="vnt-container" class="container">
    <div class="navation row"><a href="#" class="home">Trang chủ</a> <span>&nbsp;/&nbsp;</span><span>Thanh toán</span></div>
    <section class="newshot-block row">
        <div class="col-md-6 col-sm-6 col-xs-12 block">
            <div class="block-inner">
                <a class='table' href='#' target='_self' title='LG V10: Điện thoại thời trang'>
                    <div class='inner'>
                        <h3>LG V10: Điện thoại thời trang</h3>
                        <span></span>
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a><figure>
                    <div class="frame"><span> </span></div>
                    <img src="~/Content/client/vnt_upload/weblink/banner/v10_1.png" alt="LG V10: Điện thoại thời trang" />
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 block last">
            <div class="block-inner">
                <a class='table' href='#' target='_self' title='Chuyên các dòng Samsung độc nhất'>
                    <div class='inner'>
                        <h3>Chuyên các dòng Samsung độc nhất</h3>
                        <span></span>
                        <i class='fa fa-angle-right'></i>
                    </div>
                </a><figure><div class="frame"><span> </span></div><img src="~/Content/client/vnt_upload/weblink/banner/DSC_8642.jpg" alt="Chuyên các dòng Samsung độc nhất" /> </figure>
            </div>
        </div>
    </section>

    <div id="vnt-content">

        <div class="row">
            <div class="box_mid">
               
                <div class="mid-content">
                    <div class="order">
                        <div class="alert alert-success fade in">
                            <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i> ĐẶT HÀNG THÀNH CÔNG
                            </span>
                        </div>
                        <div class=" login-left">
                            <p>Cảm ơn bạn đã mua hàng tại website của chúng tôi. 
                            </p>
                            <p>Đơn hàng của bạn đã được gửi thành công. Chúng tôi sẽ xác minh thông tin và liên hệ với bạn trong thời gian sớm nhất để giao hàng</p>
                            <h3 style="font-weight:bold">BK COMPUTER</h3>
                            <p>Địa chỉ: 271B/1 Khu phố 1, Tân Biên, Thành Phố Biên Hòa, Tỉnh Đồng Nai</p>
                            <p>Số điện thoại: 0949512609</p>
                            <p>Email: bkcomputer@gmail.com</p>
                            <p>Website: <a href="http://sonzeros.com/" target="_blank">http://sonzeros.com/</a>  </p>
                            <p>Copyright © 2017, <a href="http://sonzeros.com/" target="_blank">http://sonzeros.com/</a>, All Rights Reserved </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
