<!DOCTYPE html>
<html>
<head>
    <title> Thông tin từ cửa hàng BK Computer</title>
    <meta charset="utf-8" />
</head>
<body>
    Chúc mừng bạn đã là nhân viên của BK Computer
    <br />
    Chào bạn: {{TenNhanVien}}. 
    <br />
    Bạn hãy dùng username và password để đăng nhập vào hệ thống bán hàng của cửa hàng BK Computer
    <br />
    Username: {{Username}} <br />
    Password: {{Password}}<br />
    Hãy tới <a href='http://localhost:54962/Admin/Home'>đây</a> để có thể thay đổi password của mình!!!";
</body>
</html>
