/* ========================================================================
 * CONTEXTUAL CLASSES TEXT
 * ======================================================================== */
.text-center{
  text-align: center;
}

/* ========================================================================
 * FOREGROUND COLOR
 * ======================================================================== */
.fg-red{
  color: $red;
}
.fg-blue{
  color: $blue;
}
.fg-yellow{
  color: $yellow;
}
.fg-green{
  color: $green;
}