<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BK Conputer | Hệ thống bán lẻ điện thoại và linh kiện giá rẻ</title>
    <link rel="canonical" href="/" />
    <link rel="alternate" media="handheld" href="/" />
    <link href="~/Content/client/js/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/client/skins/default/style/screen.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/client/skins/default/style/font-awesome/css/font-awesome.min.css" />
    <link href="~/Content/client/skins/default/style/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/client/js/colorbox/css/colorbox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/client/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/js/mmenu/jquery.mmenu.all.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/client/js/owl-carousel/owl.carousel.css" type="text/css" media="screen" />
    <script language="javascript">
        var ROOT = "/";
        var DIR_IMAGE = "~/Content/client/skins/default/images";
        var cmd = "vnTRUST";
        var facebook_appId = "805937266142547";
        var mem_id = 0;
        var responsiveSwitchBreakpoint = 1024;
    </script>
    <script type="text/javascript" src="~/Content/client/js/responsive-switch.min.js"></script>
    <script type="text/javascript" src="~/Content/client/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Content/client/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/client/js/jquery-migrate-1.0.0.js"></script>
    <script type="text/javascript" src="~/Content/client/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/client/js/core.js"></script>
    <script type="text/javascript" src="~/Content/client/js/javascript.js"></script>
    <script type="text/javascript" src="~/Content/client/js/floater_xlib.js"></script>
    <script type="text/javascript" src="~/Content/client/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/client/js/colorbox/colorbox-min.js"></script>
    <script type="text/javascript" src="~/Content/client/js/jquery_alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="~/Content/client/js/mmenu/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="~/Content/client/js/owl-carousel/owl.carousel.min.js"></script>

    <link rel="stylesheet" href="~/Content/client/modules/product/css/product.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/js/lightbox/css/lightbox.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/js/bootstrap/bootstrapValidator.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/modules/product/js/fotorama/fotorama.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/modules/product/js/sliderPro/css/slider-pro.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/client/modules/product/js/sliderPro/css/examples.css" type="text/css" />
    <script type="text/javascript" src="~/Content/client/modules/product/js/product.js"></script>
    <script type="text/javascript" src="~/Content/client/js/lightbox/lightbox.js"></script>
    <script type="text/javascript" src="~/Content/client/js/bootstrap/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/Content/client/modules/product/js/fotorama/fotorama.js"></script>
    <script type="text/javascript" src="~/Content/client/modules/product/js/sliderPro/js/jquery.sliderPro.min.js"></script>

    <script src="~/Scripts/alert.js"></script>
    <script src="~/Scripts/Notify.js"></script>
    <script>
        $(document).ready(function () {
            MainContentW = 1000;
            LeftBannerW = 120;
            RightBannerW = 120;
            LeftAdjust = 20;
            RightAdjust = 20;
            TopAdjust = 10;
            $(".rs-link").bind("mousedown click", function () {
                if (window.screen.width >= 1024) {
                    alert("Try it on a mobile device (< 1024px wide) to see the what happens!");
                    return false;
                }
            });
        });
    </script>

    <link rel="stylesheet" href="~/Content/client/modules/main/css/main.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#owl-customer').owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                pagination: false,
                items: 4,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [979, 4],
                itemsTablet: [768, 2],
                itemsMobile: [979, 2]
            });
        });

        $(document).ready(function () {
            $('#testimonials_owl').owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                pagination: false
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#owl-accessories').owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                pagination: false,
                items: 6,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [979, 4],
                itemsTablet: [768, 4],
                itemsTabletSmall: false,
                itemsMobile: [479, 2]
            });
        });

        $(document).ready(function () {
            $('#testimonials_owl').owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                pagination: false
            });
        });
    </script>
</head>

<body>
    <div id="vnt-wrapper">
        <div>
            @Html.Partial("~/Views/PartitalView/HeaderTopManagerPartial.cshtml")
        </div>
        @if (TempData["AlertMessage"] != null && (string)TempData["AlertMessage"] != "")
        {
            <div id="AlertBox" class="alert @TempData["AlertType"] hide">@Html.Raw(TempData["AlertMessage"]) </div>
        }
        @RenderBody()

        <div class='bg_testimonial' style='background: url("/Content/client/vnt_upload/weblink/banner/long-tin-KH.jpg") center top no-repeat;'>
            <div class="box_testimonials container">
                <div class='sologan'>Lòng Tin của Khách Hàng là Tài Sản Quý Giá Nhất của chúng tôi</div>
                <div class='testimonials' id='slider1'>
                    <div id='testimonials_owl' class='viewport owl-carousel owl-theme'>
                        <div class="item">
                            <div class="image">
                                <img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_11262121_734120673363568_9117994446443447271_n.jpg" alt='Trần Rạng' title='Trần Rạng' />
                            </div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <em>
                                            <span >
                                                <a href="#" target="_self"><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Nhân viên ở BK Computer dễ thương, ấn tượng. Mua máy xách tay lăn tăn về chất lượng, nhưng đến mua ở máy chất khỏi nói luôn. Thích quá</span></a>
                                            </span>
                                        </em>
                                    </div>
                                </div>
                                <div class="poster"><b>Trần Rạng</b><div class="address">Khách hàng mua Samsung S5 Au 16/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_Untitled.png" alt='Hồ Thái' title='Hồ Thái' /></div>
                            <div class="content">
                                <div class="message"><div class="nhay"><span style="font-size:14px;"><em>
                                    <span ><span style="color: rgb(20, 24, 35); line-height: 18.7600002288818px;">5 sao cho chất lượng máy không</span><span style="color: rgb(20, 24, 35); line-height: 18.7600002288818px;">&nbsp;phải giá rẻ nhất nhưng chưa dính phốt lần nào</span></span></em></span></div></div>
                                <div class="poster"><b>Hồ Thái</b><div class="address">Mua LG GX 27/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_10620602_508167115991736_631325350120658482_n.jpg" alt='Việt Đức' title='Việt Đức' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <em>
                                            <span >
                                                <a href="#" target="_self">Phải nói là cửa hàng bán hàng xách tay chất nhất mình từng mua. Tuy xách tay nhưng vẫn chưa bóc tem và chất lượng máy rất tốt. Nếu thời gian sau không có vấn đề gì thì chắc chắn mình sẽ ủng hộ</a>...
                                            </span>
                                        </em>
                                    </div>
                                </div>
                                <div class="poster"><b>Việt Đức</b><div class="address">Mua Samsung Note 4 Ngày 25/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_1947786_1460789014236784_715389178208200792_n.jpg" alt='Anh Hoang' title='Anh Hoang' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <em>
                                            <span >
                                                <a href="#" target="_self"><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Đã nge tiếng xtmobile từ lâu. Bây giờ mới ghé qua mua. Nhân viên lịch sự chào hỏi khách. Máy chất giá rẻ.</span></a>
                                            </span>
                                        </em>
                                    </div>
                                </div>
                                <div class="poster"><b>Anh Hoang</b><div class="address">Khách hàng mua Galaxy Note 4 28/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_10896853_842325309124172_6185631582512383687_n.jpg" alt='Ngoc Huy Nguyen' title='Ngoc Huy Nguyen' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <em>
                                            <span style="font-family:georgia,serif;">
                                                <a href="#" target="_self"><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Mua Lg Optimus G pro dùng được hơn 10 ngày rồi. Không gặp phải lỗi gì cả. . Máy chạy tốt. Nhân viên cửa hàng nói chuyện tư vấn nhiệt tình. Trong thời gian tới sẽ ủng hộ Shop thêm 1 em LG nữa. Chúc cửa hàng làm ăn tốt nhé.</span></a>
                                            </span>
                                        </em>
                                    </div>
                                </div>
                                <div class="poster"><b>Ngoc Huy Nguyen</b><div class="address">Khách hàng mua LG G Pro 30/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_11204918_774386279340530_802961629625480559_n.jpg" alt='Tiên Đỗ' title='Tiên Đỗ' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <p>
                                            <em>
                                                <span >
                                                    <a href="#" target="_self"><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Hôm nay mới mua máy Lg G3 Cat6 tại đây. Chất lượng máy ok. </span></a>
                                                </span>
                                            </em>
                                        </p>
                                        <p>
                                            <em>
                                                <span >
                                                    <a href="#" target="_self"><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Phục vụ tốt. Hậu mãi hấp dẫn.</span></a>
                                                </span>
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <div class="poster"><b>Tiên Đỗ</b><div class="address">Khách hàng mua LG G3 Cat6 04/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_mat-thon.jpg" alt='Khôi Nguyên' title='Khôi Nguyên' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <em>
                                            <span >
                                                <a href="#" target="_self">
                                                <span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">Dịch vụ rất tốt, chuyên nghiệp, hậu mãi tốt và có cô bán hàng rất dễ thương, mình mua hơi nhiều nên đã thành khách hàng Gold của cửa hàng, được rất nhiều ưu đãi nha. Like mạnh Xtmobile nhe!!!!!!!</span></a>
                                            </span>
                                        </em>
                                    </div>
                                </div>
                                <div class="poster"><b>Khôi Nguyên</b><div class="address">Khách hàng mua Sony Z3 Au 28/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_123.png" alt='Khánh Lý' title='Khánh Lý' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <p>
                                            <span style="font-size:14px;">
                                                <em>
                                                    <span >
                                                        <a href="#">Vừa rồi thì bị lỗi sóng chập chờn, đem lên cho shop sửathì thấy rất ok (miễn phí)&nbsp;thật sự thì khi mua máy (note 3 dcm) mình đã thấy hài lòng rồi, ​ko hiểu sao đi vào&nbsp;có cảm tình test các kiểu đều ok</a>..
                                                    </span>
                                                </em>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                                <div class="poster"><b>Khánh Lý</b><div class="address">Khách mua Samsung Note 3 docomo</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_11401043_705768642884854_2402495846985341479_n.jpg" alt='Dung Nguyễn' title='Dung Nguyễn' /></div>
                            <div class="content">
                                <div class="message">
                                    <div class="nhay">
                                        <span >
                                            <span >
                                                <em>
                                                    <a href="#" target="_blank">
                                                        <span style="color: rgb(20, 24, 35); line-height: 19.3199996948242px;">Nhân viên phục vụ nhiệt tình, chu đáo, test máy thoải mái!!!</span><br />
                                                        <span style="color: rgb(20, 24, 35); line-height: 19.3199996948242px;">Máy tốt, chất lượng!!</span><br />
                                                        <span style="color: rgb(20, 24, 35); line-height: 19.3199996948242px;">Sẽ giới thiệu cho nhiều người biết XTmobile.</span>
                                                    </a>
                                                </em>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="poster"><b>Dung Nguyễn</b><div class="address">Khách hàng mua LG AKA 29/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div><div class="item">
                            <div class="image"><img src="~/Content/client/vnt_upload/about/thumbs/(95x95)_crop_10511345_610938062359469_4888914226589311592_n.jpg" alt='Tí Nguyễn' title='Tí Nguyễn' /></div>
                            <div class="content">
                                <div class="message">
                                <div class="nhay"><em>
                                    <span ><span style="color: rgb(20, 24, 35); font-size: 14px; line-height: 19.3199996948242px;">
                                    <a href="https://www.facebook.com/100003298412725/activity/751856811600926" target="_blank">Đã mua Samsung S5 au và Sony Xperia Z3 au tại xtmobile chất lượng tốt hoàn toàn hài lòng về cửa hàng.</a></span></span></em></div></div>
                                <div class="poster"><b>Tí Nguyễn</b><div class="address">Khách hàng mua S5 Au và Z3 Au 05/12/2016</div></div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class='clear'></div>
            </div>
        </div>

        <div class="container hidden_mobile">
            <div class="three_box row">
                <div class="nopadding-left col-md-6 col-sm-6 col-xs-12">
                    <div class="box_footer_gray">
                        <div class="box_title"><span class="fTitle"> Báo chí nói về BK Computer</span></div>
                        <div class="box-content">
                            <div class="box_news_xtmobile">
                                <ul>
                                    <li class="item_news">
                                        <a href="#"><img src="~/Content/client/vnt_upload/news/06_2015/05/thumbs/(80x80)_crop_a1.jpg" alt='Trên tay Galaxy S6 Edge phiên bản Iron Man tại VN, giá 58 triệu đồng' title='Trên tay Galaxy S6 Edge phiên bản Iron Man tại VN, giá 58 triệu đồng' /></a>
                                        <h3 class="title">
                                            <a href="#" title='Trên tay Galaxy S6 Edge phiên bản Iron Man tại VN, giá 58 triệu đồng'>Trên tay Galaxy S6 Edge phiên bản Iron Man tại VN, giá 58 triệu đồng</a>
                                            <p class="short">Nếu là fan hâm mộ của những nhân vật siêu anh hùng trong các bộ truyện của ...</p>
                                            <div class="clear"></div>
                                        </h3>
                                    </li>
                                    <li class="item_news">
                                        <a href="#"><img src="~/Content/client/vnt_upload/news/06_2015/04/thumbs/(80x80)_crop_T6.jpg" alt='Mở hộp smartphone màn hình vuông giá 15 triệu đồng của LG' title='Mở hộp smartphone màn hình vuông giá 15 triệu đồng của LG' /></a>
                                        <h3 class="title">
                                            <a href="#" title='Mở hộp smartphone màn hình vuông giá 15 triệu đồng của LG'>Mở hộp smartphone màn hình vuông giá 15 triệu đồng của LG</a>
                                            <p class="short">LG Optimus Vu 3 vẫn giữ tỉ lệ màn hình 4:3 của những model Vu trước đây và có ...</p>
                                            <div class="clear"></div>
                                        </h3>
                                    </li>
                                    <li class="item_news">
                                        <a href="#"><img src="~/Content/client/vnt_upload/news/06_2015/04/thumbs/(80x80)_crop_T5.jpg" alt='[Đập hộp] LG Vu 3:' title='[Đập hộp] LG Vu 3:' /></a>
                                        <h3 class="title">
                                            <a href="#" title='[Đập hộp] LG Vu 3:'>[Đập hộp] LG Vu 3:</a>
                                            <p class="short">Khi&nbsp;LG&nbsp;ra mắt chiếc điện thoại Vu 3, chúng ta đều thấy nó giống như ...</p>
                                            <div class="clear"></div>
                                        </h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box_footer_gray">
                        <div class="box_title"><span class="fTitle"> Tại sao mua máy ở BK Computer</span></div>
                        <div class="box-content">
                            <div class="box_why_buy_footer">
                                <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td width="50"><img alt="xicon_why_buy-06.gif.pagespeed.ic.1ppsTMnoPv" src="~/Content/client/vnt_upload/File/06_2016/xicon_why_buy-06.gif.pagespeed.ic.1ppsTMnoPv.png" style="width: 42px; height: 36px;" /></td>
                                            <td>
                                                Quy trình kiểm tra sản phẩm chặt chẻ<br />
                                                <span style="color:#ff6601;"><strong>&nbsp;CHẤT LƯỢNG LUÔN LUÔN LÀ SỐ 01</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img alt="xicon_why_buy-02.gif.pagespeed.ic.fjQhP1HPVj" src="~/Content/client/vnt_upload/File/06_2016/xicon_why_buy-02.gif.pagespeed.ic.fjQhP1HPVj.png" style="width: 42px; height: 32px;" /></td>
                                            <td>
                                                Tư vấn bán hàng chuyên nghiệp, tận tâm<br />
                                                <font color="#ff6601"><b>NHÂN VIÊN LẤY TẤM LÒNG ĐỂ PHỤC VỤ</b></font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img alt="xicon_why_buy.gif.pagespeed.ic.ODeQ0kOlHN" src="~/Content/client/vnt_upload/File/06_2016/xicon_why_buy.gif.pagespeed.ic.ODeQ0kOlHN.png" style="width: 42px; height: 40px;" /></td>
                                            <td>
                                                Đội ngũ kỹ thuật tay nghề có chuyên môn<br />
                                                <font color="#ff6601"><b>CHĂM SÓC SẢN PHẨM HƠN CHÍNH MÌNH</b></font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img alt="xicon_card_06.png.pagespeed.ic.jm_r6ZR22n" src="~/Content/client/vnt_upload/File/06_2016/xicon_card_06.png.pagespeed.ic.jm_r6ZR22n.png" style="width: 42px; height: 36px;" /></td>
                                            <td>
                                                Nhập khẩu trực tiếp từ KOREA, US, JAPAN<br />
                                                <font color="#ff6601"><b>ĐẢM BẢO 100% HÀNG CHÍNH HÃNG</b></font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img alt="xicon_why_buy-04.gif.pagespeed.ic.fhMFCBoppA" src="~/Content/client/vnt_upload/File/06_2016/xicon_why_buy-04.gif.pagespeed.ic.fhMFCBoppA.png" style="width: 42px; height: 36px;" /></td>
                                            <td>
                                                Giao hàng cực nhanh, chính xác<br />
                                                <strong><span style="color:#ff6601;">GIAO HÀNG KHẮP 64 TỈNH THÀNH</span></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img alt="xicon_why_buy-03.gif.pagespeed.ic.S2JfOaYxaZ" src="~/Content/client/vnt_upload/File/06_2016/xicon_why_buy-03.gif.pagespeed.ic.S2JfOaYxaZ.png" style="width: 42px; height: 36px;" /></td>
                                            <td>
                                                Cộng đồng đánh giá uy tín, thân thiện<br />
                                                <font color="#ff6601"><b>PHẢN HỒI TỐT TRÊN CÁC DIỄN ĐÀN</b></font>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="box_footer">
                    <div class="box_title"><span class="fTitle"> Hoạt Động Của Cửa Hàng BK Computer</span></div>
                    <div class="box-content">
                        <div class='box_customer'>
                            <div id="owl-customer">
                                <div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/10_2016/01/thumbs/(500x400)_crop_HCN.jpg" alt='Đánh giá chi tiết LG V20, xứng đáng siêu phẩm kế nhiệm' title='Đánh giá chi tiết LG V20, xứng đáng siêu phẩm kế nhiệm' />
                                        <div class='mask'><p>Đánh giá chi tiết LG V20, xứng đáng siêu phẩm kế nhiệm</p></div>
                                    </a>
                                </div><div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/09_2016/30/thumbs/(500x400)_crop_xtmobile-lg-v20-rv.jpg" alt='Mở hộp và trên tay LG V20 đầu tiên tại Việt Nam' title='Mở hộp và trên tay LG V20 đầu tiên tại Việt Nam' />
                                        <div class='mask'><p>Mở hộp và trên tay LG V20 đầu tiên tại Việt Nam</p></div>
                                    </a>
                                </div><div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/09_2016/29/thumbs/(500x400)_crop_xtmobile-blackberry-passport-thumbnail-2.jpg" alt='Đánh giá chi tiết chiếc Blackberry Passport, mình thích thì mình vuông thôi.' title='Đánh giá chi tiết chiếc Blackberry Passport, mình thích thì mình vuông thôi.' />
                                        <div class='mask'><p>Đánh giá chi tiết chiếc Blackberry Passport, mình thích thì mình vuông thôi.</p></div>
                                    </a>
                                </div><div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/09_2016/29/thumbs/(500x400)_crop_xtmobile-blackberry-passport-thumbnail.jpg" alt='Mở hộp và trên tay: Blackberry Passport, siêu phẩm “dị” của làng điện thoại' title='Mở hộp và trên tay: Blackberry Passport, siêu phẩm “dị” của làng điện thoại' />
                                        <div class='mask'><p>Mở hộp và trên tay: Blackberry Passport, siêu phẩm “dị” của làng điện thoại</p></div>
                                    </a>
                                </div><div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/07_2016/27/thumbs/(500x400)_crop_Card-DanangShip-01.jpg" alt='Mua hàng tại XTmobile – Nhận hàng sau 60 phút.' title='Mua hàng tại XTmobile – Nhận hàng sau 60 phút.' />
                                        <div class='mask'><p>Mua hàng tại XTmobile – Nhận hàng sau 60 phút.</p></div>
                                    </a>
                                </div><div class='item'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/07_2016/26/thumbs/(500x400)_crop_DSC_8598.jpg" alt='Bảo hành Vip Care của XTmobile – An tâm tuyệt đối khi mua hàng' title='Bảo hành Vip Care của XTmobile – An tâm tuyệt đối khi mua hàng' />
                                        <div class='mask'><p>Bảo hành Vip Care của XTmobile – An tâm tuyệt đối khi mua hàng</p></div>
                                    </a>
                                </div><div class='item last'>
                                    <a href='#'>
                                        <img src="~/Content/client/vnt_upload/news/07_2016/25/thumbs/(500x400)_crop_3422.jpg" alt='COD của XTMobile - Một công đôi lợi' title='COD của XTMobile - Một công đôi lợi' />
                                        <div class='mask'><p>COD của XTMobile - Một công đôi lợi</p></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vnt-footer">
            <div class="info_footer">
                <div class="container">
                    <div class="menu_mail">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="menu_footer row">
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        <h2>Hỗ trợ khách hàng</h2>
                                        
                                        <p><a href="#" target="_self">Hướng dẫn mua hàng online</a></p>
                                        <p><a href="#" target="_self">Bảo hành 1 đổi 1</a></p>
                                        <p><a href="#" target="_self">Chính sách bảo hành 2017</a></p>
                                        <p><a href="#" target="_self">Chính sách đổi trả hoàn tiền</a></p>
                                        <p><a href="#" target="_self">Chính sách vận chuyển và giao hàng</a></p>
                                        <p><a href="#" target="_self">Chính sách bảo mật thông tin</a></p>
                                        <p><a href="#" target="_self">Quy định hình thức thanh toán</a></p>
                                    </div>
                                    <div class='col-md-6 col-sm-6 col-xs-12'>
                                        <h2>BK Computer</h2>
                                        <p><a href="#" target="_self">Về BK Computer</a></p>
                                        <p><a href="#" target="_self">Khuyến mãi</a></p>
                                        <p><a href="#" target="_self">Liên hệ</a></p>
                                        <p><a href="#" target="_self">Hỏi đáp</a></p>
                                        <p><a href="#" target="_self">Tra cứu cấp độ thành viên</a></p>
                                        <p><a href="#" target="_self">Tình trạng bảo hành - sửa chữa</a></p>
                                        <p><a href="#" target="_self">Kiểm tra thời hạn bảo hành</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="box_address_footer">
                                    <div class="title_address">Hệ thống cửa hàng BK COMPUTER</div>
                                    <div class="content">
                                        <p style="padding:0"><span style="color:#ff6600;"><strong>&nbsp; ►</strong></span>650 Lê Hồng Phong, P.10, Q.10, Hồ Chí Minh&nbsp;&nbsp;&nbsp;<span style="line-height: 20.8px;">&nbsp;<a href="tel:01649456397">01649456397&nbsp;</a>&nbsp;( ext: 515 )</span></p>
                                        <p style="padding:0"><strong style="line-height: 20.8px; color: rgb(255, 102, 0);">&nbsp;&nbsp;►</strong><span style="line-height: 20.8px;">421 Hoàng Văn Thụ,P.2, Q. Tân Bình,&nbsp;</span><span style="line-height: 20.8px;">Hồ Chí Minh&nbsp;&nbsp;</span><span style="line-height: 20.8px;">&nbsp;</span><a href="tel:01649456397">01649456397</a>&nbsp;( ext: 510 )</p>
                                        <p><strong style="line-height: 20.8px; color: rgb(255, 102, 0);">&nbsp; ►</strong>169 Hoàng Diệu, &nbsp;Q.&nbsp;Hải Châu, Đà Nẵng&nbsp;&nbsp;<a href="tel:01649456397">01649456397</a>&nbsp;( ext: 518 )</p>
                                        <p>&nbsp;<strong style="line-height: 20.8px; color: rgb(255, 102, 0);">&nbsp;►</strong>Trung Tâm Bảo Hành: &nbsp; <span style="line-height: 20.8px;">421 Hoàng Văn Thụ,&nbsp;</span><span style="line-height: 20.8px;">Hồ Chí Minh</span>&nbsp;<span style="line-height: 20.8px;">&nbsp;<a href="tel: 0871089898">08 7108 9898</a></span></p>
                                        <p><span style="line-height: 1.6em;">&nbsp;</span><strong style="line-height: 20.8px; color: rgb(255, 102, 0);">&nbsp; &nbsp; &nbsp;</strong><span style="line-height: 1.6em;">Phản hồi ý kiến chất lượng dịch vụ ( 24/24 )&nbsp;&nbsp;</span><a href="tel:090 7608707">090 7608707</a></p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="address_social">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="box_address_footer">
                                    <div class="title_address">Chấp nhận thanh toán</div>
                                    <div class="content">
                                        <img src="~/Content/client/skins/default/images/payment.png" alt="payment" />
                                        <p><a target="_self" href='#'> <img src="~/Content/client/skins/default/images/dathongbao.png" alt="bo cong thuong" /></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="box_address_footer">
                                    <div class="title_address">Liên kết mạng xã hội</div>
                                    <div class="content">
                                        <div class="social_network">
                                            <a href='#' target='_self'><img src='~/Content/client/vnt_upload/weblink/Ikke-navngivet-1.jpg' /></a> &nbsp;
                                            <a href='#' target='_self'><img src='~/Content/client/vnt_upload/weblink/Ikke-navngivet-11.jpg' /></a> &nbsp;
                                            <a href='#' target='_self'><img src='~/Content/client/vnt_upload/weblink/Ikke-navngivet-12.jpg' /></a> &nbsp;
                                            <a href='#' target='_self'><img src='~/Content/client/vnt_upload/weblink/Ikke-navngivet-2_1.jpg' /></a> &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="newletter">
                                    <div class="box_mailist">
                                        <div class="title_mail">Đăng ký ngay </br> nhận tin khuyến mãi</div>
                                        <form method="post" action="" name="fMaillList" onsubmit="return check_maillist(this);">
                                            <input type="text" name="f_name" id="f_name" class="f_email" value="" placeholder="Họ và Tên" />
                                            <input type="text" name="f_email" id="f_email" class="f_email" value="" placeholder="Email" />
                                            <button id="btn_mail" name="btn_mail" type="submit" class="btn_mail" value="Send"><span>Send</span></button>
                                            <input name="do_maillist" type="hidden" value="1" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div_copyright">
                        <span class="copyright">Copyright © 2017 <b>Điện thoại BK Computer</b></span>
                        <p class="note_slogan_footer">BK Computer - Chuyên Bán Lẻ - Nhận Order- Ship Hàng Trực Tiếp Từ Mỹ - Hàn Quốc - Đài Loan - Nhật Bản</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="call_us hidden-md hidden-lg">
            <a href="tel:01649456397"></a>
        </div>
        <a class="back-top" title="Lên trên" href="javascript:void(0);">
            <span>Lên trên</span>
        </a>

        <div id="dlding" class="none">
            Bạn vui lòng chờ trong giây lát...
        </div>

    </div>
    <nav id="mmenu">
        <ul class="dropdown">
            <li id='menu_100'><a href="#" target="_self">Trang chủ</a></li>
            <li id='menu_101'>
                <a href="#" target="_self">Điện thoại</a>
                <ul>
                    <li class="first"><a href="/#" target="_self"><span>LG</span></a></li>
                    <li><a href="/#" target="_self"><span>Samsung</span></a></li>
                    <li><a href="#" target="_self"><span>Apple</span></a></li>
                    <li><a href="/#" target="_self"><span>HTC</span></a></li>
                    <li><a href="/#" target="_self"><span>SKY</span></a></li>
                    <li><a href="/#" target="_self"><span>Xiaomi</span></a></li>
                    <li><a href="/#" target="_self"><span>Oppo</span></a></li>
                    <li><a href="/#" target="_self"><span>Sony</span></a></li>
                    <li><a href="/#" target="_self"><span>Asus</span></a></li>
                    <li><a href="/#" target="_self"><span>Casio</span></a></li>
                    <li><a href="/#" target="_self"><span>Luna</span></a></li>
                </ul>
            </li>
            <li id='menu_102'><a href="/#" target="_self">Máy tính bảng</a></li>
            <li id='menu_103'><a href="/#" target="_self">Phụ kiện</a></li>
            <li id='menu_104'><a href="/#" target="_self">Máy dùng rồi</a></li>
            <li id='menu_105'><a href="/#" target="_self">Dịch vụ</a></li>
            <li id='menu_106'><a href="#" target="_self">Bán trả góp</a></li>
            <li id='menu_107'><a href="/#" target="_self">Khuyến mãi</a></li>
            <li id='menu_108'><a href="/#" target="_self">Tin tức</a></li>
            <li id='menu_109'><a href="/#" target="_self">Giới thiệu</a></li>
            <li id='menu_110'><a href="/#" target="_self">Bảng giá</a></li>
            <li id='menu_111'><a href="/#" target="_self">Liên hệ</a></li>
        </ul>
    </nav>
    <div id="floating_banner_left" style="overflow: hidden; position: absolute; top: 0px; ">
        <div id="floating_banner_left_content"></div>
    </div>
    <div id="floating_banner_right" style="overflow: hidden; position: absolute; top: 0px;">
        <div id="floating_banner_right_content"></div>
    </div>

    <!--LenDauTrang-->
    <script type="text/javascript">
        $(window).load(function () { initLoaded(); });
        var slideTime = 700;
        var rootWidth = 1170;
        var floatAtBottom = false;
        function Ad_floating_init() {
            xMoveTo('floating_banner_right', rootWidth - (rootWidth - screen.width), 0);
            xMoveTo('floating_banner_left', rootWidth - (screen.width), 0);
            winOnResize(); // set initial position
            xAddEventListener(window, 'resize', winOnResize, false);
            xAddEventListener(window, 'scroll', winOnScroll, false);
        }
        function winOnResize() {
            checkScreenWidth();
            winOnScroll(); // initial slide
        }
        function winOnScroll() {
            var y = xScrollTop();
            if (y <= 135) y = 135;
            if (floatAtBottom) {
                y += xClientHeight() - xHeight('floating_banner_left');
            }
            xSlideTo('floating_banner_left', (screen.width - rootWidth) / 2 - (110 + 15), y, slideTime);
            xSlideTo('floating_banner_right', (screen.width + rootWidth) / 2 - 2, y, slideTime);
        }

        function checkScreenWidth() {
            if (screen.width <= 1230) {
                document.getElementById('floating_banner_left').style.display = 'none';
                document.getElementById('floating_banner_right').style.display = 'none';
            }
        }
        Ad_floating_init();
    </script>
</body>
</html>