<link href="~/Content/Site.css" rel="stylesheet" />

<div>
    <div id="header">
        <h1>ASP.NET MVC MUSIC STORE</h1>
        <ul id="navlist">
            <li class="first">
                <a href="/" id="current">Home</a>
            </li>
            <li>
                <a href="/Store/">Store</a>
            </li>
        </ul>
    </div>
    @RenderBody()
</div>
