/* ========================================================================
 * RATING STAR
 * ======================================================================== */
.rating{
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 13px;
  &.rating-2x {
    font-size: 26px;
  }
  &.rating-3x {
    font-size: 39px;
  }
  &.rating-4x {
    font-size: 52px;
  }
  &.rating-5x {
    font-size: 65px;
  }
  .star{
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    cursor: pointer;
    &:hover{
      &:before{
        content: "\f005";
      }
    }
    &:before{
      content: "\f006";
      padding-right: 0;
    }
    &.active{
      &:before{
        content: "\f005";
      }
      &~.star{
        &:before{
          content: "\f005";
        }
      }
    }
  }
}

@include rating-color(primary,$color-primary);
@include rating-color(success,$color-success);
@include rating-color(info,$color-info);
@include rating-color(warning,$color-warning);
@include rating-color(danger,$color-danger);
@include rating-color(lilac,$color-lilac);
@include rating-color(teals,$color-teal);
@include rating-color(inverse,$color-inverse);