/* ========================================================================
 * TOOLTIP
 * ======================================================================== */
.tooltip{
  z-index: $top-zindex;
}