@model IEnumerable<Common.ViewModels.KiemKhoViewModel>

@{
    ViewBag.Title = "Thông tin chi tiết phiếu kiểm kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Kiểm Kho</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "KiemKho") + "'"); ">
                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
            </button>
            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Create", "KiemKho") + "'"); ">
                <i class="glyphicon glyphicon-edit"></i>
                Tạo mới phiếu kiểm kho
            </button>

        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            @{Html.RenderAction("ThongTinPhieuKiemKho", "KiemKho");}

        </div>
    </div>
</section>
<script src="~/Scripts/bootstrap.min.js"></script>