/* ========================================================================
 * SECTION WRAPPER
 * ======================================================================== */
#wrapper{
  position: relative;
}
@media (min-width: 1281px){
  #wrapper{
    width: 1280px;
    margin: 0 auto;
  }
}