@model IEnumerable<Common.ViewModels.PhieuDatHangViewModel>

@{
    ViewBag.Title = "Xác nhận phiếu đặt hàng";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Đặt Hàng</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            @using (Html.BeginForm("XacNhanNhanHangs", "DatHang"))
            {
                <button class="btn btn-sm btn-success btn-xs btn-push" id="submit">
                    <i class="fa fa-check"></i> Xác nhận thông tin phiếu đặt hàng
                </button>
                <input value="" type="hidden" id="id" name="id" class="form-control input-sm" />
            }
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="alert alert-danger1 fade in">
                <span><i class="fa fa-bullhorn"></i> Bạn muốn xác nhận thông tin khách hàng của phiếu đặt hàng này?</span>
            </div>

            @{Html.RenderAction("ThongTinPhieuDatHang", "DatHang");}
        </div>

    </div>
</section>

<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $("#submit").on('click keyup input propertychange paste change', function () {
        var str1 = document.getElementById("soPhieuDatHang").value;
        $('#id').val(str1);
    });
</script>
