@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="">
    <div class=" w_content">
        <div class="women">
            <a href="#"><h4>Enthecwear - <span>4449 itemms</span> </h4></a>
            <ul class="w_nav">
                <li>Sort : </li>
                <li><a class="active" href="#">popular</a></li> |
                <li><a href="#">new </a></li> |
                <li><a href="#">discount</a></li> |
                <li><a href="#">price: Low High </a></li>
                @*<div class="clearfix"> </div>*@
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- grids_of_4 -->
    @foreach(var item in Model)
    {
        <div class="grid-product">
            <div class="  product-grid">
                <div class="content_box">
                    <a href="@Url.Action("ChiTietSanPham","HangHoa")">
                        <div class="left-grid-view grid-view-left">
                            <img src="~/Content/client/images/@item.HinhAnh" class="img-responsive watch-right" alt="" />
                            <div class="mask">
                                <div class="info">Quick View</div>
                            </div>
                        </div>
                    </a>
                </div>
                <h4><a href="#">@item.TenHangHoa</a></h4>
                <p>It is a long established fact that a reader</p>
                @item.GiaBan
            </div>
        </div>
    }
    

    <div class="grid-product">
        <div class="  product-grid">
            <div class="content_box">
                <a href="single.html">
                    <div class="left-grid-view grid-view-left">
                        <img src="~/Content/client/images/pic13.jpg" class="img-responsive watch-right" alt="" />
                        <div class="mask">
                            <div class="info">Quick View</div>
                        </div>
                    </div>
                </a>
            </div>
            <h4><a href="#"> Duis autem</a></h4>
            <p>It is a long established fact that a reader</p>
            Rs. 499
        </div>
    </div>

    <div class="grid-product">
        <div class="  product-grid">
            <div class="content_box">
                <a href="single.html">
                    <div class="left-grid-view grid-view-left">
                        <img src="~/Content/client/images/pic13.jpg" class="img-responsive watch-right" alt="" />
                        <div class="mask">
                            <div class="info">Quick View</div>
                        </div>
                    </div>
                </a>
            </div>
            <h4><a href="#"> Duis autem</a></h4>
            <p>It is a long established fact that a reader</p>
            Rs. 499
        </div>
    </div>
</div>
