/* ========================================================================
 * FEATURES
 * ======================================================================== */
#features{
  text-align: center;
  overflow: hidden;
  .inner{
    padding: 215px 0px 50px;
  }
  h2{
    margin-bottom: 10px;
  }
  h2 + p{
    margin-bottom: 40px;
  }
  i{
    color: $color-theme;
    cursor: default;
  }
  .media{
    .pull-left{
      width: 30px;
      margin-right: 10px;
    }
    .media-body{
      text-align: left;
      .media-heading{
        font-weight: 300;
      }
      p{
        font-size: 13px;
      }
    }
  }
  [class*="col-"]{
    margin-bottom: 10px;
  }
  .label{
    font-size: 10px;
  }
}
.feature{
  overflow: hidden;
  .inner{
    padding: 225px 0px 0px;
    height: 560px;
  }
  h2{
    margin-top: 100px;
    margin-bottom: 35px;
    width: 400px;
  }
  p{
    width: 400px;
    margin-bottom: 35px;
  }
  img{
    width: 100%;
  }
}

@media (min-width: 1024px){
  #features{
    .media{
      .media-body{
        min-height: 110px;
      }
    }
  }
}

@media (max-width: 800px){
  .feature{
    text-align: center;
    .inner{
      padding: 75px 0px 0px;
    }
    h2, p, img{
      margin-left: auto;
      margin-right: auto;
    }
    h2{
      margin-bottom: 10px;
    }
    img{
      width: 65%;
    }
  }
  #features{
    .inner{
      padding: 135px 0px 50px;
    }
    h2{
      + p{
        margin-bottom: 50px;
        margin-right: 30px;
        margin-left: 30px;
      }
    }
    .media{
      margin-bottom: 15px;
      .pull-left{
        width: 40px;
      }
    }
    [class*="col-"]{
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 480px){
  .feature{
    h2{
      width: 260px;
    }
    p{
      width: 330px;
      font-size: 14px;
    }
    img{
      width: 100%;
    }
  }
  #features{
    .inner{
      padding: 55px 0px 50px;
    }
    h2{
      margin-bottom: 5px;
      + p{
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 360px){
  .feature{
    p{
      width: 300px;
    }
  }
}

@media (max-width: 320px){
  #features{
    h2{
      font-size: 18px;
      + p{
        font-size: 13px;
      }
    }
  }
  .feature{
    p{
      width: 255px;
    }
  }
}